.cartitem{
    margin: 100px 170px;
}
.cartitem hr{
    height:3px;
    background: #e2e2e2;
    border: 0;
}
.cartitem-format-main{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitem-format{
    font-size: 17px;
    font-weight: 500;
}
.carticon-product-icon{
    height: 62px;
}
.cartitem-remove{
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: rgb(216, 51, 51);
    cursor: pointer;
}
.cartitem-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background-color: white;
}
.cartitem-down{
    display: flex;
    margin: 100px 0px;
}
.cartitem-total{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitem-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitem-total button{
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    background: rgb(216, 51, 51);
}