.cartitem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
.cartitem-format{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.cartitem-format-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    margin: 10px 20px;
}
.cartitem-format-main:hover{
    box-shadow: 1px 1px 3px grey;
    cursor: pointer;
}

.cartitem-left-format img{
    width: 100px;
    height: 150px;
}
.cartitem-right-format{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0px 5px;
}
.cartitem-right-format p{
    font-size: 15px;
}
.cartitem-remove{
    padding: 5px 10px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: rgb(216, 51, 51);
}
.cartitem-total{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cartitem-total-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartitem hr{
    height:3px;
    background: #e2e2e2;
    border: 0;
}
.proceed-btn{
    padding: 8px 10px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: rgb(216, 51, 51);
}
















/* .cartitem{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 0px;
}
.cartitem hr{
    height:3px;
    background: #e2e2e2;
    border: 0;
}
.cartitem-format-main{
    color: #454545;
    font-size: 18px;
    font-weight: 600;
    display: grid;
    grid-template-columns: 0.5fr 2.2fr 0.5fr 1fr 0.5fr 1fr;
    align-items: center; 
    gap: 30px;
}
.cartitem-format{
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr 1fr 0.5fr 1fr;
    gap: 25px;
    color: #454545;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0px;
}
.carticon-product-icon{
    height: 60px;
}
.cartitem-remove{
    width: 85px;
    height: 30px;
    
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: rgb(216, 51, 51);
    cursor: pointer;
}
.cartitem-quantity{
    width: 50px;
    height: 40px;
    border: 2px solid #ebebeb;
    background-color: white;
}
.cartitem-down{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 100px 0px;
    margin-left: 150px;
}
.cartitem-total{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.cartitem-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitem-total button{
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    background: rgb(216, 51, 51);
} */
